<h3>Are you ready to RUMBLEEEEEEEEEEEE ??</h3>
<p>
  Welcolm to Captain Contrat's Arena of death !! Here you'll find the best and most dangerous
  fighters of the galaxy.
  <br/>
  <br/>
  We've got them all! As you wander aroung the arena and get splatched by undread of litters (oops sorry, I meant gallons for
  our imperial system users) of blood, sweat and tears ! And tears of blood !! And blood of sweat !! One time somebody got hit by
  a tooth... In the eye... It was a canine... It almost blinded him... That poor bastard was the reason we now have to warn
  about the tears of blood...
  <br/>
  <br/>
  Anywhooooo, as I was saying : here you'll find the most dangerous fighters like the Fat Baby, the Hornless Unicorn (yup it's
  basically a horse), the Three Armed Amputed PostMan and of course the mighty one, the abyss abomination, the destroyer of dreams,
  the skull crasher, head banger, well rested MOTHER FUC***: THE FULLSTACK DEVELOPER !!
</p>